@page "/"
<h3>TestTablePage</h3>
<MudTable Items="Students">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Age</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTr>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Age">@context.Age</MudTd>
        </MudTr>
    </RowTemplate>
</MudTable>

@code {
    Student[] Students { get; } = [new("Jack", 22),new("Ella", 24)];
    record Student(string Name, int Age);
}
